/* Media query for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
    .section-2 {
        width: 100vw;
        height: fit-content;
       
    }
    .section-3 {
        width: 100vw;
        
        
    }
    .container .row{
        flex-direction: column !important;
    }
    .container .col{
        margin: 20px 0px;
    }
    .contant-3 .banner-img {
        width: 100%;
        display: block;
        margin: auto;
    
    }
    .contant-3 .col h3 {
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
     
     }
     .contant-3 .col h6 {
        font-size: 1.3rem;
        margin: 1.4rem 0;
        text-align: center;
        
     
     }
     .section-4 {
        width: 100vw;
        height: fit-content;
        
    }
    footer {
        width: 100vw;
        height: 25vh;
        
        align-items: center;
        padding-top: 40px;
    }

    .menu-toggle {
        display: flex;
    }

    .hamburger {
        font-size: 35px;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        background-color: #333;
       
        
        
    }

    .navbar-links.show {
        display: flex;
        ;
    }

    .nav-link {
        padding: 25px;
        text-decoration: none;
        color: white;
        text-align: center;
        border-bottom: 1px solid #555;
        letter-spacing: 2px;
        z-index: 1001
    }
}